body {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

img {
  width: 100%;
}

.grilla {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: #1f3d1f;
  position: sticky;
  top: 0;
  z-index: 2;
  grid-area: header;
}

.header__upper {
  background-color: #1f3d1f;
}

.header__items {
  margin-top: 10px;
  font-size: 0.7rem;
}

.navbar {
  background-color: #3c573c;
  grid-area: nav;
}

/*main*/

main {
  grid-area: main;
}

.banner_season__image {
  height: 85px;
  width: 100%;
}

.caja-imagen {
  position: relative;
}

.caja-imagen__botontext {
  position: absolute;
  bottom: 7%;
  left: 67%;
  width: 40%;
}

.botoncito:hover {
  font-weight: bold;
  background-color: #1f3d1f;
}

.caja-about {
  flex: 1;
}

.caja-about__titulo {
  color: #1f3d1f;
}

.banner {
  background-color: #1f3d1f;
}

.newsletter__titulo {
  color: #1f3d1f;
}

.caja-email__email {
  width: 200px;
  height: 28px;
}

/* footer */

footer {
  background-color: #3c573c;

  grid-area: footer;
}

.footer__copy {
  background-color: #1f3d1f;
  padding-top: 2px;
  padding-bottom: 8px;
  text-align: center;
  color: #c0c0c0;
  font-size: 10px;
}

/* paginas */

.titulo-paginas {
  color: #3c573c;
  font-size: 1.5rem;
}

/* PRODUCTS */

.descripcion_nombre {
  color: #3c573c;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 10px;
}

.descripcion__desc {
  width: 240px;
}

.size-color__talles {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  font-size: 0.95rem;
}

.radial {
  width: 20px;
  height: 20px;
}

.verde {
  accent-color: #3c573c;
}

.negro {
  accent-color: black;
}

.marron {
  accent-color: #664b35;
}

.gris {
  accent-color: #5a5757;
}

/* SIZING */

.subtitulo {
  color: #3c573c;
  font-size: 1.2rem;
}

.tabla {
  margin: 0 auto;
}

td,
th {
  text-align: center;
}

/* SWIMCARE */

.sc-subtitulo {
  font-size: 1rem;
  color: #3c573c;
}

/* CONTACT US */

.marco {
  border: 1px solid #c0c0c0;
  width: 330px;
}

.text-area {
  width: 290px;
}

.campo {
  width: 250px;
  height: 30px;
}

@media (min-width: 768px) {
  .header__items {
    margin-top: 60px;
    font-size: 1rem;
  }

  .banner_season__image {
    height: 140px;
    width: 100%;
  }

  .caja-about--texto {
    font-size: 1.2rem;
  }

  .gal-imagenes__article button {
    font-size: 1.1rem;
  }
  .newsletter__texto {
    font-size: 1.1rem;
  }

  .titulo-paginas {
    font-size: 2rem;
  }

  .how-to__text {
    font-size: 1rem;
  }

  .sizing-advert {
    padding-left: 200px;
    padding-right: 200px;
  }
  .sc-subtitulo {
    font-size: 1.1rem;
  }
  .sc-texto {
    font-size: 1.1rem;
    padding-left: 150px;
    padding-right: 150px;
  }

  .marco {
    width: 600px;
  }

  .text-area {
    width: 550px;
  }
}

@media (min-width: 1024px) {
  .caja-about--texto {
    font-size: 1.4rem;
  }
  .newsletter__texto {
    font-size: 1.3rem;
  }
  .titulo-paginas {
    font-size: 2rem;
  }

  .subtitulo {
    font-size: 1.2rem;
  }
  .tabla {
    width: 40%;
  }
  .sizing-advert {
    padding-left: 200px;
    padding-right: 200px;
  }

  .sc-advert {
    font-size: 1.3rem;
  }

  .sc-subtitulo {
    font-size: 1.3rem;
  }

  .sc-texto {
    font-size: 1.1rem;
    padding-left: 150px;
    padding-right: 150px;
  }
  .how-to__text {
    font-size: 1.2rem;
  }
}
